<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <h1>Books Details</h1>
        <nav>
          <a href="/books">Back to list</a>
        </nav>
      </div>
    </header>
    <section>
      <h1>Authors</h1>
      <ul>
        <% authors.forEach((author) => { %>
       <li> <a href="/authors/<%= author._id %>"><%= author.name %></a></li>
        <% }) %>
      </ul>
      <a href="/authors/new">Add New Author</a>
    </section>
  </body>
</html>
